*,*::before,*::after{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  cursor: default;
}

@font-face{
  font-family: PopLight;
  src: url('./fonts/Poppins-ExtraLight.ttf');
}
@font-face{
  font-family: PopRegular;
  src: url('./fonts/Poppins-Regular.ttf');
}
@font-face{
  font-family: PopMediumItalic;
  src: url('./fonts/Poppins-MediumItalic.ttf');
}

@font-face{
  font-family: PopSemiBold;
  src: url('./fonts/Poppins-SemiBold.ttf');
}

body{
  background: #dfdfdf;
  font-family: PopLight;
  cursor:url('images/cursor.png'), auto;
}

/* NO SCROLLBAR YET FUNCTIONAL */
::-webkit-scrollbar {
  display: none;
}

h1, h3, a{
  font-family: PopRegular;
  text-decoration: none;
  color: #333533;
}

/* a{
  margin: 15px;
} */

a:hover, h3:hover, h1:hover{
  color: orange;
}


.balaurl{
  display: grid;
  align-content:center;
  justify-content: center;
  position: fixed;
  left: -3.5%;
  top: 50%;
  transform: translateY(-50%);
}
.balaurl a{
  transform: rotate(-90deg);
}

header {
  height: 10vh;
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* padding: 20px 0px; */
}


/* .logo{
  cursor: pointer;
  font-size: 2em;
  font-family: PopMediumItalic;
} */

.logo{
  width: 100px;
  cursor: pointer;
  font-size: 2em;
  font-family: PopMediumItalic;
}

.gallery a{
  margin: 15px;
}

.gallery-section{
  width: 100%;
  padding: 50px 0;
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.title{
  position: fixed;
  right: -1%;
  top: 50%;
  transform: translateY(-50%);
}

.title h3{
  transform: rotate( 90deg);
}


.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img{
  width: 100%;
  height: 100%;
  transition: 1s;
}

.gallery-section .image:hover img{
  transform: scale(1.4) rotate(-90deg);
}

@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 33.33%;
  }

  .title, .balaurl{
    display: none;
  }


  header {
    height: 15vh;
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* .title{
    position: fixed;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
  }

  .balaurl{
    position: fixed;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
  } */
  
  .gallery-section{
    width: 100%;
    padding: 0px 0px;
  }

  .page{
    grid-template-columns: 5% 1fr 5%;
    align-items: center;
    grid-gap:0.2em;
    width: 100%;
  }
  .photo{
    grid-column: 2/3;
    height: auto;
    align-self: center;
    justify-self: center;
  
  }
  .photo img{
    height: 400px;
  }


  h3{
    font-size: 18px;
  }

  .logo{
    font-size: 26px;
  }

}

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex: 50%;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 100%;
  }
}
