*,*::before,*::after{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  cursor: default;
}

@font-face{
  font-family: PopLight;
  src: url('./fonts/Poppins-ExtraLight.ttf');
}
@font-face{
  font-family: PopRegular;
  src: url('./fonts/Poppins-Regular.ttf');
}
@font-face{
  font-family: PopMediumItalic;
  src: url('./fonts/Poppins-MediumItalic.ttf');
}

@font-face{
  font-family: PopSemiBold;
  src: url('./fonts/Poppins-SemiBold.ttf');
}

body{
  font-family: PopLight;
  cursor:url('images/cursor.png'), auto;
}

/* NO SCROLLBAR YET FUNCTIONAL */
::-webkit-scrollbar {
  display: none;
}

h1, h3, a{
  font-family: PopRegular;
  text-decoration: none;
  color: #333533;
}

.first{
  /* background: linear-gradient(to right, #dfdfdf 50%, #cac4c4 50%); */
  background: #dfdfdf;
}

.second{
  color: #333533;
  background: #F4E9CD;
}


.third{
  color: #333533;
  background: whitesmoke;
}

.about{
  color: #333533;
  background: #FCD5CE;
}

header {
  min-height: 10vh;
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* padding: 20px 0px; */
}


.logo{
  cursor: pointer;
  font-size: 2em;
  font-family: PopMediumItalic;
}


.page{
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1% 1fr 1fr 1fr 1%;
}

/* PHOTOGRAPHY */

.textcontent{
  grid-column: 2/3;
  height: 20vh;
  width: 90%;
  margin: auto;
}

.photo1{
  grid-column: 2/3;
  align-self: center;
  justify-self: end;
}
.photo2{
  grid-column: 3/4;
  align-self: center;
  justify-self: center;
}
.photo3{
  grid-column: 4/5;
  align-self: center;
  justify-self: start;
}

.poza{
  max-height: 60vh;
}

/* DETAILS */

/* .details , .details2 , .details3{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.details{
  background-color: #9f9c9c;
}

.details2{
  background-color: #B7B7A4;
}

.details3{
  background-color: #a3c9a8;
} */

.details{
  grid-column: 3/4;
  align-self: center;
  justify-self: center;
  border-radius: 15px;
  height: 50vh;
  width: 90%;
  margin: auto;
  transform: scale(1.3);
  transition: transform 0.5s ease;
  overflow: hidden;
  display: grid;
  align-content: center;
  justify-content: center;
}

.details h1{
  display: grid;
  align-content: center;
  justify-content: left;
  font-size: 3em;
  font-family: PopRegular;
}

.details p{
  padding-right: 2%;
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: 20px;
  text-align: left;
}


.details:hover{
  transform:translate(0%, -10%);
}

/* DOINGS */
/* .doings{
  background-color: #E3B182;
}

.doings2{
  background-color: #A5A58D;
}

.doings3{
  background-color: #5c8693;
} */

.doings{
  transform: scale(1.3);
  transition: transform 0.5s ease;
  display: grid;
  grid-column: 4/5;
  padding-top: 10%;
  height: 25vh;
  width: 75%;
  align-self: end;
  justify-self: start;
}

.doings h1{
  padding-right: 5%;
  padding-left: 5%;
  display: grid;
  text-align: right;
  align-self: center;
  justify-self: right;
  font-size: 2.5em;
  font-family: PopSemiBold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #303030;
  font-weight: 100;
  color: #dfdfdf;
}

.doings h1:hover{
  -webkit-text-stroke-width: 0px;
}

.doings:hover{
  transform:translate(0%, -10%);
}


/* ABOUT */
.attributes{
  grid-column: 2/4;
  overflow: hidden;
  align-self: center;
  justify-self: center;
}

.attributes h1{
  font-size: 3rem;
  font-family: PopSemiBold;
}

.attributes h1:hover{
  font-style: italic;
}


/* .suculents{
  width: 40vh;
  grid-column: 4/5;
  justify-self: center;
  align-self: center;
} */


.whatyouneed{
  grid-column: 4/5;
  align-self: end;
  justify-self: center;
}

.whatyouneed h1{
  font-size: 1.5rem;
  font-family: PopRegular;
  animation: 
  typing 3.5s steps(30, end),
  blink-caret .5s step-end infinite;
  border-right: .15em solid orange;
  overflow: hidden;
  white-space: nowrap; /* Keeps the content on a single line */
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


.trademark h3{
  font-family: PopMediumItalic;
}


a:hover, h3:hover, h1:hover{
  color: orange;
}



/* CONTACT */

.info{
  grid-column: 4/5;
  display: flex;
  justify-content: space-between;
  
}



/* PAGES */

.pages{
  text-align: right;
  align-self: center;
  justify-self: right;
  position: fixed;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
}

.pages a{
  font-size: 3em;
}

/* FOOTER */

footer {
  min-height: 10vh;
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.balaurl{
  display: grid;
  align-content:center;
  justify-content: center;
  grid-column: 1/2;
  position: fixed;
  left: -1%;
  top: 50%;
  transform: translateY(-50%);
}
.balaurl h3{
  transform: rotate(-90deg);
}


/* MOBILE */

@media (max-width: 1024px){

    .trademark{
      display: none;
    }


    .pages{
      position: fixed;
      right: 0%;
      top: 50%;
      transform: translateY(-50%);
    }
    
    .page{
      grid-template-columns: 5% 1fr 5%;
      align-items: center;
      grid-gap:0.2em;
      /* width: 100%; */
    }
    .photo{
      grid-column: 2/3;
      height: auto;
      align-self: center;
      justify-self: center;
    
    }
    .photo img{
      height: 400px;
    }

    .details, .details2, .details3{
      grid-row: 2/3;
      grid-column: 2/3;
      text-align: center;
      align-self: center;
      justify-self: center;
      max-height: 50vh;
      width: 80%;
    }
    .details h1, .details2 h1, .details3 h1{
      font-size: 2em;
    }
    
    .details p, .details2 p, .details3 p{
      font-size: 1em;
    }

    .doings, .doings2, .doings3{
      grid-row: 3/4;
      grid-column: 2/3;
      text-align: center;
      align-self: center;
      justify-self: center;
      max-height: 50vh;
      width: 80%;
    }

    .doings h1, .doings2 h1, .doings3 h1{
      font-size: 2em;
    }


    .balaurl{
      display: none;
    }

    .whatyouneed{
      display: none;
    }

    h3{
      font-size: 18px;
    }

    .logo{
      font-size: 26px;
    }

}



/* .js-hover {
  position: relative;
  color: var(--color-dark);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-dark);
}

.js-hover:hover {
  -webkit-text-fill-color: var(--color-dark);
}

.js-hover:hover svg {
   display: block;
   opacity: 1;
}

.js-hover svg {
  opacity: 0;
  display: none;
  position: absolute;
  width: 300px;
  bottom: -1rem;
  left: -1rem;
  z-index: -1;
  
} */
